@import "~bootstrap/scss/bootstrap";

.menu-btn {
    color: #fff;
    position: relative;
    &:hover {
        color: rgb(248, 195, 80);
    }
    &:hover::after {
        content: ' ';
        display: block;
        position: absolute;
        background-color: rgb(248, 195, 80);
        width: 100%;
        height: 1px;
    }
}

.contact-items {
    width: 50px;
    height: 50px;
    border: #fff solid 1px;
}

.contact-img {
    top: 6.9px;
    right: 0;
    bottom: 0;
    left: 6.45px;
    
}

.content-image-1 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 153, 255))
    }
}

.content-image-2 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 0, 255))
    }
}

.content-image-3 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(68, 0, 255))
    }
}

.content-image-4 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 0, 0))
    }
}
