$white: #fff;
$primary: rgb(185,2,185);
$success: rgb(248, 195, 80);
$h1-font-size: 4rem;
$h2-font-size: 3rem;

h1, h2, h3, h4, h5, h6, p, span, a {
    /*font-family: 'Mynerve', cursive;*/
    font-family: 'Caveat', cursive;

}

h1 {
    font-size: large;
}

span, p {
    font-size: 2rem;
}

.menu-bt {
    position: relative;
    font-size: 1.5rem;
    
    &:hover {
        color: $success;
        
    }
    &:hover::after {
        width:100%;
    }
    &::after{
        transition: width .5s ease-in-out;
        content: '';
        display: block;
        position: absolute;
        left:0;
        background-color: $success;
        width: 0%;
        height: 2px;
    }
}

/*Navigation*/

.header {
    width: 100%;
}

.nav-flex {
    width: 200px;
    margin-left: auto;
}


/*Home Page*/

.home-page {
    height: 100vh;
    background: url(./img/bg.jpg) no-repeat;
    background-size: cover;
}

.home-image {
    width: 525px;
    height: 525px;
    border: rgba(255, 255, 255, 0.25) solid 1px;
    background-color: rgba(255, 255, 255, 0.075);
}



/*About me*/

.circle-img {
    box-sizing: border-box;
    width: 400px;
    height: 400px;
}


/* Portfolio */

.portfolio-items {
    max-width: 48%;
    background-color: $primary;
    
}

.portfolio {
    height: 100vh;
}

.scaling{
    max-width: 100%;
    height: auto;
    transition:.3s transform linear;
    &:hover {
        transform: translateX(5px) translateY(5px);
        z-index: -4;
    };
    
}

@media screen and (max-width: 1024px) {
    .portfolio-items {
        max-width: 100%;
    }
    .portfolio {
        height: auto;
    }
}


/* Contacts */


.contact-items {
    width: 50px;
    height: 50px;
}

.contact-img {
    top: 6.9px;
    right: 0;
    bottom: 0;
    left: 6.45px;
    
}

.content-image-1 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 153, 255))
    }
}

.content-image-2 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 0, 255))
    }
}

.content-image-3 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(68, 0, 255))
    }
}

.content-image-4 {
    &:hover {
        filter: drop-shadow(0 0 10px rgb(0, 0, 0))
    }
}




*{
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.text {
    width: 23ch; 
    font-family: 'Nova Mono', monospace;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    border-right: 3px solid white; /* рисуем курсор */
    animation: cursor 0.75s step-end infinite, printed_text 5s steps(23);
    user-select: none;
}
  
@keyframes cursor {
    0% {
      border-color: white;
    }
  
    50% {
      border-color: transparent;
    }
  
    100% {
      border-color: white;
    }
}
  
@keyframes printed_text {
    from {
      width: 0;
    }
}
  









@import "~bootstrap/scss/bootstrap";